#body{
    padding:0%;
    margin:0%;
    
}

.main{
    background-image: linear-gradient(45deg,black,darkblue);
    height:100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin:0px;
    padding:0px;            
}

.background{
    padding:15%;
    border-radius: 15px;
    background-color: rgba(0,0,0,1);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    padding:15px;
}

.button{
    width: 40px;
    height:40px;
    cursor: pointer;
    background-color:rgb(31,31,31);
    border-radius: 10px;
    font-size:20px;
    color:white;
    border: none;
    margin:1px;
}

.button:hover{
    background-color:whitesmoke;
    color:black;
}

#resultado{
    text-align:right;
    width:174px;
    height:30px;
    background-color:white;
    margin:3px;
    padding:3px;
    color:black;
    border-radius:8px;
    font-size:27px;
}